<!DOCTYPE html>
<html>

<head>
    <title>Промокоды</title>
</head>

<body>
    <h1>Промокоды</h1>

    <h2>Действующие</h2>
    {% for promo in active_promo %}
    <div>
        <h3>{{ promo.code }}</h3>
        <p>Скидка: {{ promo.discount_percent }}%</p>
        <p>Действует с {{ promo.valid_from|date:"d/m/Y" }} по {{ promo.valid_to|date:"d/m/Y" }}</p>
        <p>{{ promo.description }}</p>
    </div>
    {% endfor %}

    <h2>Архив</h2>
    {% for promo in archived_promo %}
    <div>
        <h3>{{ promo.code }}</h3>
        <p>Скидка: {{ promo.discount_percent }}%</p>
        <p>{{ promo.description }}</p>
    </div>
    {% endfor %}
</body>

</html>